/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


nav li a {
  color: black;
  font-family: 'Poppins';
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  background-color: transparent;
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

nav li a:hover {
  background: rgba(238, 13, 13, 0.75);
}

.navigation ul {
  list-style: none;
  display: flex;
}


.navigation .user {
  flex: .5;
}

.navigation .logo {
  flex: 4;
}

.navigation .menu {
  flex: 2;
}

.navigation .social {
  flex: .5;
}



/*Tablet size, alle li elementen krijgen 50% van de ruimte, behalve de user group, die krijgen 33%*/
@media all and (max-width: 1000px) {
  .navigation ul {
    flex-wrap: wrap;
  }

  .navigation li {
    flex: 1 1 50%;
  }

  .navigation .user {
    flex: 1 1 33.33%;
  }

  section p {
    width: 75%;
  }
}

/*Mobile size, alle li elementen krijgen 100% van de ruimte, behalve de user group, die krijgen 50%*/
@media all and (max-width: 480px) { 
  .navigation li { f
    flex-basis: 100%; 
  } 
  .navigation .user { 
    flex-basis: 50%; 
  } 
  section p {
    width: 100%;
  }
  }



section {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

section img {
  width: 90%;
  height: auto;
  flex-grow: 1;
}

section div {
  flex-basis: 16em;
  flex-grow: 1;
  margin: auto;
}

section h2 {
   color: cadetblue;
   font-family: 'Roboto';
   text-transform: uppercase;
   font-weight: bold;
   text-align: center;
}

section p {
  text-align: center;
  line-height: 1.73;
  margin: 20px;
  font-family: 'roboto';
  font-size: 12px;
  width: 50%;
}

section a {
    background-color: cadetblue;
    color: white;
    margin: 0 auto;
    margin-top: 15px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-family: 'Poppins';
    letter-spacing: 3px;
    font-size: 12px;
    line-height: 45px;
    min-width: 180px;
    max-width: 100%;
    padding-left: 30px;
    padding-right: calc(30px - 3px);
}
section a:hover{
  background-color: #555;
}

header {
  height: 460px;
  background-image: url(../images/wave.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.section2 {
  background-image: url(../images/mcgregor.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}