/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


nav li a {
  color: black;
  font-family: 'Poppins';
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  background-color: transparent;
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

nav li a:hover {
  background: rgba(238, 13, 13, 0.75);
}

.navigation ul {
  list-style: none;
  display: flex;
}


.navigation .user {
  flex: .5;
}

.navigation .logo {
  flex: 4;
}

.navigation .menu {
  flex: 2;
}

.navigation .social {
  flex: .5;
}



/*Tablet size, alle li elementen krijgen 50% van de ruimte, behalve de user group, die krijgen 33%*/
@media all and (max-width: 1000px) {
  .navigation ul {
    flex-wrap: wrap;
  }

  .navigation li {
    flex: 1 1 50%;
  }

  .navigation .user {
    flex: 1 1 33.33%;
  }

 
}

/*Mobile size, alle li elementen krijgen 100% van de ruimte, behalve de user group, die krijgen 50%*/
@media all and (max-width: 480px) { 
  .navigation li { f
    flex-basis: 100%; 
  } 
  .navigation .user { 
    flex-basis: 50%; 
  } 
  .section1 p {
    width: 100%;
  }
  
  }



.section1 {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.section1 img {
  width: 80%;
  height: auto;
  flex-grow: 1;
}



/*centreren ipv a*/
.section1 div {
  flex-basis: 16em;
  flex-grow: 1;
  margin: auto;
  text-align:center;
  
}

.section1 h2 {
   color: cadetblue;
   font-family: 'Roboto';
   text-transform: uppercase;
   font-weight: bold;
   text-align: center;
}

.section1 p {
  text-align: center;
  line-height: 1.73;
  margin: 20px 0;
  font-family: 'roboto';
  font-size: 14px;
  padding: 0 15%;
  letter-spacing: 2px;
}

.section1 a {
  
  background: transparent;
  border-color: #B48D46;
  border-style: solid;
  border-width: 1px;
  color: black;
  margin: 0 auto;
  margin-top: 15px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-family: 'Poppins';
  letter-spacing: 3px;
  font-size: 12px;
  line-height: 45px;
  min-width: 180px;
  max-width: 100%;
  padding-left: 30px;
  padding-right: calc(30px - 3px);
    /*justify-content: center;*/
    /*align-items: center;*/
    /*align-self: center;*/
    /*justify-self: center;*/
}
.section1 a:hover{
  border-color: green;
  border-style: solid;
  border-left: 1px solid black;
  outline-offset: -10px;
}

header {
  height: 460px;
  background-image: url(../images/wave.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  
}

.section2 {
  background-image: url(../images/mcgregor.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;
  display: flex;
  
  
}

.section2 .div2 {
  flex-basis: 65%;
  text-align:center;
  margin-left: auto;
  align-self: center;
}

.section2 p{
  text-align: center;
  line-height: 1.73;
  margin: 20px 0;
  font-family: 'roboto';
  font-size: 14px;
  padding: 0 15%;
  letter-spacing: 2px;
  color: white;
}

.section2 a{
  background: transparent;
    border-color: #B48D46;
    border-style: solid;
    border-width: 1px;
    color: white;
    margin: 0 auto;
    margin-top: 15px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-family: 'Poppins';
    letter-spacing: 3px;
    font-size: 12px;
    line-height: 45px;
    min-width: 180px;
    max-width: 100%;
    padding-left: 30px;
    padding-right: calc(30px - 3px);
}

.section2 h2 {
  color: white;
  text-align: center;
}

.section3 {
  background-image: url(../images/recipes.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;
  display: flex;
  border: 30px solid white;
  margin-top: 40px;
}


.section3 .div3 {
  flex-basis: 65%;
  text-align:center;
  margin-right: auto;
  align-self: center;
}


.section3 h2 {
  color: white;
  text-align: center;
}

.section3 p{
  text-align: center;
  line-height: 1.73;
  margin: 20px 0;
  font-family: 'roboto';
  font-size: 14px;
  padding: 0 15%;
  letter-spacing: 2px;
  color: white;
}

.section3 a{
    background: transparent;
    border-color: #B48D46;
    border-style: solid;
    border-width: 1px;
    color: white;
    margin: 0 auto;
    margin-top: 15px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-family: 'Poppins';
    letter-spacing: 3px;
    font-size: 12px;
    line-height: 45px;
    min-width: 180px;
    max-width: 100%;
    padding-left: 30px;
    padding-right: calc(30px - 3px);
}